body {
  font-family: Helvetica, sans-serif;
}

h2 {
  color: #212930;
}


#btn {
  
  font-family: inherit;
  border: none;
  background-color: #4B8C61;
  padding: 3px 6px 3px 6px;
  color: white;
}
